.inputBox{
  border: 1px solid lightgrey;
  height: auto;
  min-height: 50px;
  width: 100%;
}

.leftLabel{
  float: left;
  padding: 2px;
}

.leftLabel2{
  float: left;
  margin-right: 20px;
  width: 100%;
}


.full_width_block{
  width: 100%;
}

.left{
  /*float: left;*/
  width: 100%;
}

.right{
  float: right;
}

.fixButtonWidth button{
  width: 100px;
}

.outputBox{
  /*margin-bottom: 500px;*/
  position:relative;
  text-align: left;
  display: block;
  padding: 0;

  label{
    width: 100%;
  }

  .custom_tmp_output{
    min-height: 50px;
    padding: 10px;
  }

  .plain_tmp_output{
    background-color:lightgrey;
    min-height: 50px;
    padding: 10px;
  }
}

.file_title_block{
  float: left;
  /*background-color: lightgrey;*/
}

.file_title_block_index{
  /*background-color: lightgrey;*/
  display: inline-block;
  padding: 5px;
}


/*
.outputBox pre{
  background-color: lightgrey;
  position: relative;
}
*/

.plain_output{
  background-color: lightgrey;
}

.activeFormat{
  color: white;
  background-color: darkgreen;
}

.main-button-group-1{
  margin-bottom: 10px;
  text-align: center;
}

.main-button-group-2{
  margin-bottom: 30px;
  text-align: center;
}

.timePadNodes{
  border: 1px solid lightgrey;
  /*width: 100%;*/
  /*width: 500px;*/
  float: left;
  /*height: 100%;*/
  /*min-height: 500px;*/

}


.main-container{
  width:100%;
  max-width: 900px;
  margin: auto;

}


.graphWrapper{
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 500px;
}

.nav_button_list{
  display: block;
  margin-left: 0;
}

.dropdown-menu-custom li{
  cursor: pointer;
}


.menu_nav_block{
  padding-bottom: 5px;
}

.status_bar{
  font-size: 12px;
  text-align: left;
  padding: 5px;
}

.spinner_loader{
  text-align: center;
  font-size: 20px;
  display: none;
}

a{
  font-size: 10px;
}

.download_bar{
  /*border: 1px solid red;*/
  display: block;

  .left-msg{
    text-align: left;
    border: 5px solid black;
    max-width: 80%;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.close_x{
  padding: 2px;
  font-size: 15px;
}

.customized_thumbnail:hover{
  text-decoration: none;
  background-color: white;
}

.spinner_loader_for_doc{
  text-align: center;
  font-size: 50px;
  color: green;
}

.file_bar{
  padding: 2px;
  font-size: 14px;
  position: relative;
  .file_bar_left{
    width: 50%;
    min-width: 300px;
    text-align: left;
    i{
      padding: 2px;
      font-size: 14px;
    }
  }

  span{
    font-size: 14px;
  }

  label{
    padding: 2px;
    margin-bottom: 0;
  }
}

.file_icon{
  padding-left: 5px;
  padding-right: 5px;
}

.close_file_x{
  padding: 2px;
  font-size: 15px;
  padding-left: 6px;
}

.input_shadow{
  border: 1px solid #ccc;
  padding: 10px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.inputBoxWrapper{
  border: 1px solid lightgrey;
  position: relative;
}

.inputBoxWrapperForFile{
  border: 1px solid lightgrey;
  position: relative;
}

.item_header_block{
  height: auto;
  margin-bottom: 0;
  border: 1px solid lightgrey;
  /*border: 1px solid red;*/
}

.title_block{
  height: auto;
  padding: 6px;
  border-right: 1px solid lightgrey;
}


.input_addon_customized1{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.node_title_block{
  border: 1px solid lightgrey;
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

/*.demo_button{
  float: right;
}*/

.demo_button_on, .demo_button_off{
  position: fixed;
  right: 2px;
  top: 2px;
}

/************************************************************************************** */
/* Start using scss syntax properly to improve the structure of the css */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin ele_position($left, $top) {
  left: $left;
  top: $top;
  position: absolute;
}

$nav_square_size: 90px;
$nav_ele_size: $nav_square_size/3;
$nav_font_color: #dff0d8;

.arrow_nav_control{
  position: relative;
  margin: auto;
  margin-top: 50%;
  width: $nav_square_size;
  height: $nav_square_size;

  i{
    font-size: $nav_ele_size;
    width: $nav_ele_size;
    height: $nav_ele_size;
    /*position: absolute;*/
    color: $nav_font_color;
    /*border: 1px solid rebeccapurple;*/
  }

  i:hover{
    cursor: pointer;
    color: #3c763d;
  }

  .nav_up{
    @include ele_position($nav_ele_size, 0);
  }

  .nav_down{
    @include ele_position($nav_ele_size, $nav_ele_size*2);
  }

  .nav_left{
    @include ele_position(0, $nav_ele_size);
  }

  .nav_right{
    @include ele_position($nav_ele_size*2, $nav_ele_size);
  }

  .nav_center{
    @include ele_position($nav_ele_size, $nav_ele_size);
  }

  .nav_middle{
    border:1px solid $nav_font_color;
    text-align: center;
    vertical-align: middle;
    height: $nav_ele_size;
    width: $nav_ele_size;
    @include border-radius(5px);
    @include ele_position($nav_ele_size, $nav_ele_size);
  }
}


/************************************************************************************** */


/*.modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;
  display: none;
  background-color: rgba(22,22,22,0.5); !* complimenting your modal colors *!



  .reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
  }
}

.modal-container:target {
  visibility: visible;
  display: block;
}*/







